<%= form_for(@network) do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名称" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kind, "类型" %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :ip, "IP地址" %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :sn, "序列号" %><br>
    <%= f.text_field :sn %>
  </div>
  <div class="field">
    <%= f.label :expire, "服务到期" %><br>
    <%= f.date_select :expire, { :order => [:year, :month, :day], :start_year => Time.now.year, :end_year => Time.now.year + 10}, class: 'datepiker' %>
  </div>
  <div class="field">
    <%= f.label :position, "位置" %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :remark, "备注" %><br>
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit "提交", disable_with: "正在努力提交中……", class: "btn-success" %><%= link_to "取消", networks_path, class: "btn-cancel" %>
  </div>
<% end %>
