<div id="sidebar">

  <ul>
    <h2>新建资产</h2>
    <li><%= link_to "服务器", new_server_path %></li>
    <li><%= link_to "网络设备", new_network_path %></li>
    <li><%= link_to "应用系统", new_system_path %></li>
    <li><%= link_to "软件", new_software_path %></li>
  </ul>

  <% if @resources.present? %>

    <hr>

    <ul>    
      <h2 class="sidebar-list"><%= @model_name %></h2>

      <% @resources.each do |resource| %>
        
        <li><%= link_to resource.name, resource %></li>
        
      <% end %>

    </ul>

  <% end %>

</div>
